<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--
    这个配置文件是为了spring data jpa 而创建的
    约束不全，不知道该怎么办
-->
    <!--spring 和 spring data jpa 的配置-->

    <!-- 学到这里不想再看了，他妈都什么时候，还在用xml进行配置，受不了了-->
</beans>